{% extends 'base.html' %}

{% load static %}
{% load bootstrap5 %}

{% block extra_css %}
    <link href="{% static '/css/calendar.css' %}" rel="stylesheet" type="text/css" />
{% endblock extra_css %}

{% block content %}
    <div class="row mt-3 mb-3">
        <div>
            <div>
                <div class="row">
                    <div class="col-lg-2 card left-column p-3" style="margin-left: 10px;">
                        <div >
                            <h3>Adicionar Evento</h3>
                            <hr>
                            <p>Clique no botão abaixo para acrescentar um evento profissional</p>
                            <button class="btn btn-sm font-size-16 btn-outline-primary w-100" id="btn-new-event"><i class="mdi mdi-plus-circle-outline"></i> Adicionar Horário Profissional</button>
                            <hr>
                            <p>Clique no botão abaixo para reservar um horário pessoal</p>
                            <button class="btn btn-sm font-size-16 btn-outline-success w-100" id="btn-new-private-event"><i class="mdi mdi-plus-circle-outline"></i> Adicionar Horário Pessoal</button>
                            <hr>
                            <p>Clique no botão abaixo para definir horários de funcionamento</p>
                            <button class="btn btn-sm font-size-16 btn-outline-warning w-100" id="btn-new-working-hours"><i class="mdi mdi-plus-circle-outline"></i> Alterar Horário de Funcionamento</button>
                            <hr>
                        </div>
                    </div>
                    <div class="col-lg-9 right-column">
                        <div class="d-flex justify-content-between">
                            {% include 'calendar_buttom.html' %}
                        </div>
                        <table class="table table-bordered calendar-table table-striped">
                            <thead class="table-light text-center">
                                <tr>
                                    <th>Dom - 14{{ dom_atual }}</th>
                                    <th>Seg - 15{{ seg_atual }}</th>
                                    <th>Ter - 16{{ ter_atual }}</th>
                                    <th>Qua - 17{{ qua_atual }}</th>
                                    <th>Qui - 18{{ qui_atual }}</th>
                                    <th>Sex - 19{{ sex_atual }}</th>
                                    <th>Sáb - 20{{ sab_atual }}</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for semana in calendario %}
                                    <tr>
                                        {% for dia, contador in semana %}
                                            <td class="{% if dia == 0 %}preenchimento{% else %}dia-calendario{% endif %}">
                                                {% if dia != 0 %}
                                                    {{ dia }}
                                                    {% for evento in eventos_por_dia %} {# Supondo que eventos_por_dia é um dicionário de eventos por dia #}
                                                        {% if evento.data.day == dia %}
                                                            <div class="evento">{{ evento.titulo }}</div>
                                                        {% endif %}
                                                    {% endfor %}
                                                {% endif %}
                                            </td>
                                        {% endfor %}
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <div style="clear: both;"></div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
