{% extends 'base.html' %}

{% load static %}
{% load bootstrap5 %}

{% block extra_css %}
    <link href="{% static '/css/calendar.css' %}" rel="stylesheet" type="text/css" />
{% endblock extra_css %}

{% block content %}
    <div class="row mt-3 mb-3">
        <div>
            <div>
                <div class="row">
                    <div class="col-lg-2 card left-column p-3" style="margin-left: 10px;">
                        <div >
                            <h3>Adicionar Evento</h3>
                            <hr>
                            <p>Clique no botão abaixo para acrescentar um evento profissional</p>
                            <button class="btn btn-sm font-size-16 btn-outline-primary w-100" data-bs-target="#modalNewEvent" data-bs-toggle="modal"><i class="mdi mdi-plus-circle-outline"></i> Adicionar Horário Profissional</button>
                            <hr>
                            <p>Clique no botão abaixo para reservar um horário pessoal</p>
                            <button class="btn btn-sm font-size-16 btn-outline-success w-100" data-bs-target="#modalNewPrivateEvent" data-bs-toggle="modal"><i class="mdi mdi-plus-circle-outline"></i> Adicionar Horário Pessoal</button>
                            <hr>
                            <p>Clique no botão abaixo para definir horários de funcionamento</p>
                            <button class="btn btn-sm font-size-16 btn-outline-warning w-100" data-bs-target="#modalNewWorkingHours" data-bs-toggle="modal"><i class="mdi mdi-plus-circle-outline"></i> Alterar Horário de Funcionamento</button>
                            <hr>
                        </div>
                    </div>
                    <div class="col-lg-9 right-column">
                        <div class="d-flex justify-content-between">
                            {% include 'calendar_buttom.html' %}
                        </div>
                        <div class="table-responsive">
                            <table class="table table-hover table-bordered align-middle mb-0">
                                <thead class="table-primary text-center">
                                    <tr>
                                        <th scope="col" id="time">Horário</th>
                                        <th scope="col" id="sunday">Dom</th>
                                        <th scope="col" id="monday">Seg</th>
                                        <th scope="col" id="tuesday">Ter</th>
                                        <th scope="col" id="wednesday">Qua</th>
                                        <th scope="col" id="thursday">Qui</th>
                                        <th scope="col" id="friday">Sex</th>
                                        <th scope="col" id="saturday">Sáb</th>
                                    </tr>
                                </thead>
                                <tbody class="text-center">
                                    <tr>
                                        <td id="list-group-items" class="bg-light"></td>
                                        <td id="sunday-group-items"></td>
                                        <td id="monday-group-items"></td>
                                        <td id="tuesday-group-items"></td>
                                        <td id="wednesday-group-items"></td>
                                        <td id="thursday-group-items"></td>
                                        <td id="friday-group-items"></td>
                                        <td id="saturday-group-items"></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div style="clear: both;"></div>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="modalNewEvent" tabindex="-1" aria-labelledby="modalNewEventLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalNewEventLabel">Adicionar Evento Profissional</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form id="formNewEvent">
                        <div class="mb-3">
                            <label for="eventTitle" class="form-label">Título do Evento</label>
                            <input type="text" class="form-control" id="eventTitle" name="eventTitle" required>
                        </div>
                        <div class="mb-3">
                            <label for="eventDate" class="form-label">Data do Evento</label>
                            <input type="date" class="form-control" id="eventDate" name="eventDate" required>
                        </div>
                        <div class="mb-3">
                            <label for="eventDescription" class="form-label">Descrição do Evento</label>
                            <textarea class="form-control" id="eventDescription" name="eventDescription" rows="3" required></textarea>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-warning" data-bs-dismiss="modal">Fechar sem salvar</button>
                    <button type="button" class="btn btn-outline-success" id="btnSaveEvent">Salvar alterações</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="modalNewPrivateEvent" tabindex="-1" aria-labelledby="modalNewPrivateEventLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalNewPrivateEventLabel">Adicionar Evento Particular</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form id="formNewEvent">
                        <div class="mb-3">
                            <label for="eventTitle" class="form-label">Título do Evento</label>
                            <input type="text" class="form-control" id="eventTitle" name="eventTitle" required>
                        </div>
                        <div class="mb-3">
                            <label for="eventDate" class="form-label">Data do Evento</label>
                            <input type="date" class="form-control" id="eventDate" name="eventDate" required>
                        </div>
                        <div class="mb-3">
                            <label for="eventDescription" class="form-label">Descrição do Evento</label>
                            <textarea class="form-control" id="eventDescription" name="eventDescription" rows="3" required></textarea>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-warning" data-bs-dismiss="modal">Fechar sem salvar</button>
                    <button type="button" class="btn btn-outline-success" id="btnSaveEvent">Salvar alterações</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="modalNewWorkingHours" tabindex="-1" aria-labelledby="modalNewWorkingHoursLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalNewWorkingHoursLabel">Adicionar Horário de Trabalho</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form id="formNewWorkingHours">
                        <div class="mb-3">
                            <label for="workingHoursStart" class="form-label">Início do Horário de Trabalho</label>
                            <input type="time" class="form-control" id="workingHoursStart" name="workingHoursStart" required>
                        </div>
                        <div class="mb-3">
                            <label for="workingHoursEnd" class="form-label">Fim do Horário de Trabalho</label>
                            <input type="time" class="form-control" id="workingHoursEnd" name="workingHoursEnd" required>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-warning" data-bs-dismiss="modal">Fechar sem salvar</button>
                    <button type="button" class="btn btn-outline-success" id="btnSaveWorkingHours">Salvar alterações</button>
                </div>
            </div>
        </div>
    </div>

    {% block extra_js %}
        <script src="{% static 'js/pages/calendar.js' %}"></script>
    {% endblock extra_js %}

{% endblock %}