{% extends 'base.html' %}
{% block content %}
    {% load bootstrap5 %}
    {% buttons %}
        <a href="{% url 'contact_create' %}" class="btn btn-outline-success">Adicionar</a>
    {% endbuttons %}
    <table class="table table-striped">
        <thead class="table-dark">
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Email</th>
                <th>Status</th>
                <th>Created At</th>
                <th>Updated At</th>
            </tr>
        </thead>
        <tbody>
            {% for contact in contact_info %}
            <tr>
                <td>{{ contact.id }}</td>
                <td>{{ contact.name }}</td>
                <td>{{ contact.email }}</td>
                <td>{{ contact.status }}</td>
                <td>{{ contact.created_at }}</td>
                <td>{{ contact.updated_at }}</td>
                <td>
                {% buttons %}
                        <a href="{% url 'contact_update' contact.id %}" class="btn btn-sm btn-outline-primary">Editar</a>
                        <a href="{% url 'contact_delete' contact.id %}" class="btn btn-sm btn-outline-danger">Excluir</a>
                {% endbuttons %}
                </td>
            </tr>
            {% empty %}
            <tr><td colspan="7">Nenhum contato cadastrado.</td></tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
